version: 2
jobs:
  build:
    working_directory: ~/j_ci
    docker:
      - image: circleci/node:10-browsers
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run: git config --global user.email circleci@circleci.com
      - run: git config --global user.name CircleCI
      - run:
          name: Generate release
          command: standard-version
      - run:
          name: Skip CI Build
          command: git commit --allow-empty -m "[ci skip]"
      - run:
          name: Build
          command: npm run build
      - add_ssh_keys:
          fingerprints:
            - "fc:d5:37:a0:18:70:0c:88:71:87:e7:eb:12:49:65:f9"
      - run:
          name: Push release to github
          command: git push --follow-tags origin master
      - run:
          name: Install Python
          command: sudo apt-get install python3 python-pip python-dev
      - run:
          name: Install awscli
          command: sudo pip install awscli
      - run:
          name: Clear latest folder
          command: aws s3 rm s3://jcti/latest/
      - run:
          name: Deploy to S3
          command: aws s3 sync build s3://jcti --acl public-read
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          filters:
            branches:
              only: master