defaults: &defaults
  working_directory: ~/j_ci
  docker:
    - image: circleci/node:10-browsers

version: 2
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - add_ssh_keys:
          fingerprints:
            - "fc:d5:37:a0:18:70:0c:88:71:87:e7:eb:12:49:65:f9"
      -run:
          name: Configure git user
          command: |
            git config --global user.email circleci@circleci.com
            git config --global user.name CircleCI
      - run:
          name: Generate lib release
          command: npm run release
      - run:
          name: Skip CI Build for the next push
          command: git commit --allow-empty -m "[ci skip]"
      - run:
          name: Push release to github
          command: git push --follow-tags origin master
      - run:
          name: Build lib
          command: npm run build
      - persist_to_workspace:
          root: ~/j_ci
          paths:
            - build
  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/j_ci
      - run:
          name: Install Python
          command: sudo apt-get install python3 python-pip python-dev
      - run:
          name: Install AWS Client
          command: sudo pip install awscli
      - run:
          name: Clear latest folder on AWS
          command: aws s3 rm s3://jcti/latest/
      - run:
          name: Deploy to AWS S3
          command: aws s3 sync build s3://jcti --acl public-read
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master