version: 2
jobs:
  build:
    working_directory: ~/j_ci
    docker:
      - image: circleci/node:10-browsers
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Build
          command: npm run build
      - run:
          name: Install Python
          command: sudo apt-get install python3 python-pip python-dev
      - run:
          name: Install awscli
          command: sudo pip install awscli
      - run:
          name: Deploy to S3
          command: aws s3 sync build s3://jcti --acl public-read
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build